%h2 All Items
%a(href="/search") Search items
%br
- content_for :name do
  All_items
-unless @all_items.empty?
  -unless page ==1
    %a(href = "/items/#{page-1}") previous
  -unless page_count==1
    -for i in 1..page_count
      -if page!=i
        %a(href = "/items/#{i}") #{i}
      -else
        #{i}
  -unless page == page_count
    %a(href = "/items/#{page+1}") next
  -stored = @all_items
  %table.itemtable
    %thead
      %tr
        %td
          %p.table_header Name
        %td
          %p.table_header Picture
        %td
          %p.table_header Price
        %td
          %p.table_header Qty
        %td
          %p.table_header Seller
        %td
          %p.table_header Buy
        %td
          %p.table_header Wishlist
    - for item in stored
      %tr(title = "#{item.description}")
        %td.nopadding
          %a.wholly_clickable(href="/item/#{item.id}" )
            :escaped
              #{item.name}
        %td
          %a(href="/item/#{item.id}/image" rel="lightbox" title="#{item.name}")
            %img(src="/item/#{item.id}/image" class = "smallpicturebox")
        %td
          %p #{item.price}
        %td
          %p #{item.quantity}
        %td
          %a(href="/users/#{item.owner.id}" ) 
            :escaped
              #{item.owner.name}
        %td.buyform
          %form.nomargin(action="/buy/#{item.id}/#{(stored.select {|tobuy| tobuy.id==item.id})[0].timestamp}" method="POST")
            %input.tiny(type = "text" name = "quantity" value = "1")
            %input.square.rightalign(type="submit" value="Buy")
        - if @session_user.wishlist.include?(item)
          %td
            %form.nomargin(action="/remove_from_wishlist/#{item.id}" method="POST")
              %input.square.rightalign(type="submit" value = "Remove from Wishlist")
        -else
          - if !item.owner.eql?(@session_user)
            %td
              %form.nomargin(action="/add_to_wishlist/#{item.id}" method="POST")
                %input.square.rightalign(type = "submit" value ="Add to wishlist")
-else
  %h3 No items
