%h2
  Auction for Item:
  :escaped
    #{@offer.name}
%a(href="/item/#{@offer.id}/image" rel="lightbox" title="#{@offer.name}")
  %img(src="/item/#{@offer.id}/image" class = "bigpicturebox")
%br

%br
.lineContainer
  .textbox.name
    Description:
  .textbox.value
    %p
      -if !@offer.description.empty?
        -@offer.description.each do |line|
          :escaped
            #{line}
          %br

.lineContainer
  .textbox.name
    Min price:
  .textbox.value
    %p
      #{@offer.min_price}
%br
.lineContainer
  .textbox.name
    Current selling price:
  .textbox.value
    #{@offer.current_selling_price}
%br
.lineContainer
  .textbox.name
    Increment:
  .textbox.value
    #{@offer.increment}
%br
- unless @offer.current_winner.nil?
  .lineContainer
    .textbox.name
      Current Winner:
    .textbox.value
      #{@offer.current_winner.name}

- unless @offer.bids[@session_user] == 0
  .lineContainer
    .textbox.name
      Placed Bid:
    .textbox.value
      - if @offer.current_winner == @session_user
        placed winning bid: #{@offer.bids[@session_user]}
      - else
        placed unsuccessful bid: #{@offer.bids[@session_user]}
%br
.lineContainer
  .textbox.name
    Expires on:
  .textbox.value
    #{@offer.end_time.asctime}

%br
.lineContainer
  .textbox.name
    Owner:
  .textbox.value
    %a(href="/users/#{@item.owner.id}" )
      :escaped
        #{@offer.owner.name}

%hr.separator.invisible
-if @offer.owner.name == @session_user.working_for.name
  -if @offer.editable?
    %p
      %form.nomargin(action="/auction/#{@offer.id}/edit" method="GET")
        %input.square.rightalign(type="submit" value="Edit")
-else
  %td.buyform
    %form.nomargin(action="/auction/#{@offer.id}/bid" method="POST")
      %input.rightalign(type = "text" name ="bid" value = "#{@offer.current_selling_price + @offer.increment}")
      %input.square.rightalign(type="submit" value="Bid")

