%h2
  Auction for Item:
  :escaped
    #{@item.name}
%a(href="/item/#{@item.id}/image" rel="lightbox" title="#{@item.name}")
  %img(src="/item/#{@item.id}/image" class = "bigpicturebox")
%br

%br
.lineContainer
  .textbox.name
    Description:
  .textbox.value
    %p
      -if !@item.description.empty?
        -@item.description.each do |line|
          :escaped
            #{line}
          %br

.lineContainer
  .textbox.name
    Min price:
  .textbox.value
    %p
      #{@auction.min_price}
%br
.lineContainer
  .textbox.name
    Current selling price:
  .textbox.value
    #{@auction.current_selling_price}
%br
.lineContainer
  .textbox.name
    Increment:
  .textbox.value
    #{@auction.increment}
%br
- unless @auction.current_winner.nil?
  .lineContainer
    .textbox.name
      Current Winner:
    .textbox.value
      #{@auction.current_winner.name}

- unless @auction.bids[@session_user] == 0
  .lineContainer
    .textbox.name
      Placed Bid:
    .textbox.value
      - if @auction.current_winner == @session_user
        placed winning bid: #{@auction.bids[@session_user]}
      - else
        placed unsuccessful bid: #{@auction.bids[@session_user]}
%br
.lineContainer
  .textbox.name
    Expires on:
  .textbox.value
    #{@auction.end_time.asctime}

%br
.lineContainer
  .textbox.name
    Owner:
  .textbox.value
    %a(href="/users/#{@item.owner.id}" )
      :escaped
        #{@item.owner.name}

%hr.separator.invisible
-if @item.owner.name == @session_user.working_for.name
  -if @auction.editable?
    %p
      %form.nomargin(action="/auction/#{@item.id}/edit" method="GET")
        %input.square.rightalign(type="submit" value="Edit")
-else
  %td.buyform
    %form.nomargin(action="/auction/#{@item.id}/bid" method="POST")
      %input.rightalign(type = "text" name ="bid" value = "#{@auction.current_selling_price + @auction.increment}")
      %input.square.rightalign(type="submit" value="Bid")

