%h2
  :escaped
    #{@item.name}
%table.commenttable
  %thead
  %tbody
    %tr
      %td
        %p.table_header Author
      %td.comment
        %p.table_header Comment
      %td
        %p.table_header
    - for comment in @item.head_comments
      %tr
        %td.nopadding
          %a.wholly_clickable(href="/users/#{comment.author.id}" )
            :escaped
              #{comment.author.name}
        %td.comment
          %p
            -if !comment.text.empty?
              -comment.text.each do |line|
                :escaped
                  #{line}
                %br
        %td.buyform
          %form.nomargin(action="/reply/#{comment.id}" method="GET")
            %input.square.rightalign(type="submit" value="Reply")
      - for sub in comment.sub_comments
        %tr
          %td.nopadding.subcomment
            %a.wholly_clickable(href="/users/#{sub.author.id}" )
              :escaped
                #{sub.author.name}
          %td.comment.subcomment
            -if !sub.text.empty?
              -sub.text.each do |line|
                :escaped
                  #{line}
                %br
          %td.subcomment
            %p
%hr.separator
%form.nomargin(action="/comment/#{@item.id}" method="GET")
  %input.square.rightalign(type="submit" value="New Comment")
%form.nomargin(action="/item/#{@item.id}" method="GET")
  %input.square(type="submit" value="Back")