%h2
  Home
.lineContainer
  .textbox.name
    %p Currently logged in User:
  .textbox.value
    %p
      :escaped
        #{@session_user.name}
.lineContainer
  .textbox.name
    %p Working for:
  .textbox.value
    %p
      :escaped
        #{@session_user.working_for.name}
.lineContainer
  .textbox.name
    %p Your Credits:
  .textbox.value
    %p #{@session_user.credits}
.lineContainer
  .textbox.name
    %p Active items:
  .textbox.value
    %p #{@session_user.list_items.size}
.lineContainer
  .textbox.name
    %p Inactive items
  .textbox.value
    %p #{@session_user.list_items_inactive.size}
%hr.separator
%h2
  Getting started
%a(href = "/items/1")
  %img.gridicon(src="/images/getting_started/store.png")
%a(href = "/home/new")
  %img.gridicon(src="/images/getting_started/additem.png")
%a(href = "/users/#{@session_user.id}/1")
  %img.gridicon(src="/images/getting_started/profile.png")
%a(href = "/home/items/1/1")
  %img.gridicon(src="/images/getting_started/youritems.png")
%hr.separator
%h2 News of other traders
%br
  %table.usertable
    %thead
      %tr
        %td
          %p.table_header Time
        %td
          %p.table_header Activity
    -@session_user.working_for.get_watching_logs.each do |activity|
      %tr
        %td
          %p #{activity.time.strftime("%d.%m.%Y<br />%H:%M")}
        %td
          %p #{activity.to_html}

