-if @item.name != ""
  %h2 Edit Item
-if @item.name == ""
  %h2 New Item
%br
%form.nomargin(action="/#{action}" method="POST" enctype="multipart/form-data")
  %label.textbox.name
    %p Name of Item:
  %input.textbox.value(type="text" name="name" value="#{@item.name}")
  %hr.separator.invisible
  %label.textbox.name
    %p Price:
  %input.textbox.value(type="text" name="price" value="#{@item.price}")
  %hr.separator.invisible
  %label.textbox.name
    %p Currency:
  %select.textbox.value.selection(name = "currency")
    -if @item.currency=="credits"
      %option(value = "bitcoins")
        %p Bitcoins
      %option(value = "credits" selected = "selected")
        %p Credits
    -else
      %option(value = "bitcoins" selected = "selected")
        %p Bitcoins
      %option(value = "credits")
        %p Credits
  %hr.separator.invisible
  %label.textbox.name
    %p Description (optional)
  %textarea.textbox.value(type="text" name = "description")
    -@item.description.each do |line|
      #{line}
  %hr.separator.invisible
  %label.textbox.name
    %p Always in Stock?
  %select.textbox.value.selection(name = "permanent")
    -if @item.permanent
      %option(value = "no")
        %p No
      %option(value = "yes" selected = "selected")
        %p Yes
    -else
      %option(value = "no" selected = "selected")
        %p No
      %option(value = "yes")
        %p Yes
  %hr.separator.invisible
  %label.textbox.name
    %p Category
  %select.textbox.value.selection(name = "category")
    -for category in @supercategory.get_subcategories
      %option(value = "#{category.name}")
        %p
          :escaped
            #{category.name}
      -unless category.get_subcategories.nil?
        %optgroup
          -for subcategory in category.get_subcategories
            %option(value = "#{subcategory.name}")
              %p
                :escaped
                  #{subcategory.name}
  %hr.separator.invisible
  %label.textbox.name
    %p Quantity
  %input.textbox.value(type = "text" name = "quantity" value = "#{@item.quantity}")
  %hr.separator.invisible
  %label.textbox.name
    %p Display image
  %input.textbox.value(type='file' name='image_file' accept="image/*")
  %hr.separator
  %input.rightalign.square(type="submit" value="#{button}")


