%br
.textbox.name
  Description:
.textbox.value
  -item.description.each do |line|
    #{line}
    %br
%br
.textbox.name
  Price:
.textbox.value
  #{item.price}
%br
.textbox.name
  Available Quantity:
.textbox.value
  #{item.quantity}
%br
.textbox.name
  Owner:
.textbox.value
  %a(href="/users/#{item.owner.name}" ) #{item.owner.name}
%hr.separator
-if item.owner.name == session_user.name
  -if item.editable?
    #ToDo: Edit Button...
-else
  -if item.active
    %td.buyform
      %form.nomargin(action="/buy/#{item.id}/#{item.timestamp}" method="POST")
        %input.tiny.rightalign(type = "text" name = "quantity" value = "1")
        %input.square.rightalign(type="submit" value="Buy")
