
%h2 All Items
- content_for :name do
  All_items
-unless all_items.empty?
  -stored = all_items
  %table.itemtable
    %thead
      %tr
        %td
          %p.table_header Name
        %td
          %p.table_header Price
        %td
          %p.table_header Seller
        %td
          %p.table_header Buy
    - for item in stored
      %tr
        %td
          %p
            :escaped
              #{item.name}
        %td
          %p #{item.price}
        %td
          %a(href="/users/#{item.owner.id}" )
            :escaped
              #{item.owner.name}

          -#
            MW: Hier wird der User-Name noch angezeigt - ich schaffe es nicht, den Namen ohne
            html-Zeugs darzustellen ohne dabei den Link kaputt zu machen
        %td
          %form.nomargin(action="/buy/#{item.id}/#{(stored.select {|tobuy| tobuy.id==item.id})[0].timestamp}" method="POST")
            %input.square(type="submit" value="Buy")
-else
  %h3 No items
