-#%h2
  :escaped
    #{@item.name}

-# this should check if the user has an upload, otherwise placeholder - there are no uploads yet.
%a(href="/item/#{@item.id}/image" rel="lightbox" title="#{@item.name}")
  %img(src="/item/#{@item.id}/image" class = "bigpicturebox")
%br
.lineContainer
  .textbox.name
    Description:
  .textbox.value
    %p
      -if !@item.description.empty?
        -@item.description.each do |line|
          :escaped
            #{line}
          %br
%br
.lineContainer
  .textbox.name
    Price:
  .textbox.value
    #{@item.price}
%br
.lineContainer
  .textbox.name
    Available Quantity:
  .textbox.value
    #{@item.quantity}
%br
.lineContainer
  .textbox.name
    Owner:
  .textbox.value
    %a(href="/users/#{@item.owner.id}" )
      :escaped
        #{@item.owner.name}
.lineContainer
  .textbox.name
    Comments:
  .textbox.value
    %a(href="/comments/#{@item.id}") see comments
%hr.separator.invisible
-if @item.owner.name == @session_user.name
  -if @item.editable?
    %p
      %form.nomargin(action="/home/edit_item/#{@item.id}" method="GET")
        %input.square.rightalign(type="submit" value="Edit")
-else
  -if @item.active
    %td.buyform
      %form.nomargin(action="/buy/#{@item.id}/#{@item.timestamp}" method="POST")
        %input.tiny.rightalign(type = "text" name = "quantity" value = "1")
        %input.square.rightalign(type="submit" value="Buy")
  - if !@session_user.wishlist.include?(@item) and !@item.owner.eql?(@session_user)
    %td
      %form.nomargin(action="/add_to_wishlist/#{@item.id}" method="POST")
        %input.square.rightalign(type="submit" value="Add to wishlist")
