
%h2 All Items
- content_for :name do
  All_items
-unless all_items.empty?
  -stored = all_items
  %table.itemtable
    %thead
      %tr
        %td
          %p.table_header Name
        %td
          %p.table_header Price
        %td
          %p.table_header Qty
        %td
          %p.table_header Seller
        %td
          %p.table_header Buy
    - for item in stored
      %tr
        %td
          %p #{item.name}
        %td
          %p #{item.price}
        %td
          %p #{item.quantity}
        %td
          %a(href="/users/#{item.owner.name}" ) #{item.owner.name}
        %td.buyform
          %form.nomargin(action="/buy/#{item.id}/#{(stored.select {|tobuy| tobuy.id==item.id})[0].timestamp}" method="POST")
            %input.tiny(type = "text" name = "quantity" value = "1")
            %input.square.rightalign(type="submit" value="Buy")
-else
  %h3 No items
