%html
  %head
    %title Trading System
    %link(rel="stylesheet" type="text/css" href="/css/layout.css")
    %link(rel="stylesheet" type="text/css" href="/css/itemtable.css")
    %link(rel="stylesheet" type="text/css" href="/css/commenttable.css")
    %script(src="/js/jquery-1.7.2.min.js")
    %script(src="/js/lightbox.js")
    %link(rel="stylesheet" href="/css/lightbox.css")
  %body
    #wrapper
      #headcombi
        #header
          -#%h1
            :escaped
              Trading System: #{page_name}
        #statusbar
          #status
            -if not session[:id].nil?
              %a.status(href="/users/#{session[:id]}")
                :escaped
                  #{@session_user.name}
              | Credits: #{@session_user.credits}
              |
              %a.status(href="/logout")Logout
            -else
              %a.status(href='/login')Login

      #page
        #navigation
          -if not session[:id].nil?
            %h2.menu_header Menu
            %a.menu(href="/home") - Home
            %a.menu(href="/home/items") - My Items
            -#%a.menu(href="/home/inactive") - My Inactive Items
            %a.menu(href="/home/new") - Create Item
            %br
            %a.menu(href="/users") - All Users
            %a.menu(href="/items") - All Items
            %a.menu(href="/search") - Search
            %br
            %a.menu(href="/users/#{session[:id]}") - My Profile
            %a.menu(href="/wishlist") - My Wishlist
            %a.menu(href="/logout") - Logout
          -else
            %h2.menu_header not logged in!
            %a.menu(href='/login') - Login!
            %a.menu(href='/signup') - Signup!        
        #content
          -if flash[:error]
            #error_msg 
              = flash[:error]
          -if flash[:notice]
            #notification_msg 
              = flash[:notice]
          =yield
      #footer
        %p built during ESE 2012