%html
  %head
    %title Trading System
    %link(rel="stylesheet" type="text/css" href="/css/layout.css")
    %link(rel="stylesheet" type="text/css" href="/css/itemtable.css")
    %link(rel="stylesheet" type="text/css" href="/css/commenttable.css")
    %link(rel="stylesheet" type="text/css" href="/css/jquery-ui-1.9.1.custom.min.css")
    %link(rel="stylesheet" type="text/css" href="/css/timepicker.css")
    %link(rel="stylesheet" type="text/css" href="/css/slimbox2.css")
    %script(src="/js/jquery-1.8.2.js")
    %script(src="/js/jquery-ui-1.9.1.js")
    %script(src="/js/slimbox2.js")
    %script(src="/js/jquery.flot.js")
    %script(src="/js/jquery-ui-timepicker-addon.js")
  %body
    #wrapper
      #headcombi
        #header
        #statusbar
          #status
            -if not session[:id].nil?
              %form.nomargin{:action => "/switch_account_context", :method => "POST"}
                %select{:onchange => "this.form.submit();", :name => "context"}
                  %option
                    :escaped
                      #{@session_user.name}
                  -for organization in @session_user.organization_list
                    -if(@session_user.working_for == Trader.by_name(organization.name))
                      %option{:selected => "selected"}
                        :escaped
                          #{organization.name}
                    -else
                      %option
                        :escaped
                          #{organization.name}
              #statustext
                | Credits: #{@session_user.credits}
                |
              %a.status(href="/logout")Logout
            -else
              %a.status(href='/login')Login
      #page
        #navigation
          -if not session[:id].nil?
            %h2.menu_header Menu
            %a.menu(href='/home')
              %img(src="/images/legend/Home.png" class = "iamlegend")
            %a.menu(href="/users/#{session[:id]}")
              %img(src="/images/legend/My Profile.png" class = "iamlegend")
            %a.menu(href="/home/items")
              %img(src="/images/legend/My_Items.png" class = "iamlegend")
            %a.menu(href="/profile/pending")
              %img(src="/images/legend/Pending_Items.png" class = "iamlegend")
            %a.menu(href="/wishlist")
              %img(src="/images/legend/Wishlist.png" class = "iamlegend")
            %a.menu(href="/organizations")
              All Organizations (missing fancy picture)
            %br
            %a.menu(href="/users")
              %img(src="/images/legend/All_Users.png" class = "iamlegend")
            %a.menu(href="/items")
              %img(src="/images/legend/Store.png" class = "iamlegend")
            %br
            %a.menu(href="/logout")
              %img(src="/images/legend/Logout.png" class = "iamlegend")
          -else
            %h2.menu_header not logged in!
            %a.menu(href='/login')
              %img(src="/images/legend/Login.png" class = "iamlegend")
            %a.menu(href='/signup')
              %img(src="/images/legend/Signup.png" class = "iamlegend")
        #content
          -if flash[:error]
            #error_msg 
              = flash[:error]
          -if flash[:notice]
            #notification_msg 
              = flash[:notice]
          =yield
      #footer
        %p built during ESE 2012
