
%h2 Your profile

.textbox.name
  %p
    Username:
.textbox.value
  %p
  :escaped
    #{user.name}

.textbox.name
  %p Credits:
.textbox.value
  %p #{user.credits}

.textbox.name
  %p Interests:
.textbox.value
  %p
    -user.description.each do |line|
      :escaped
        #{line}
      %br
%br
%hr.separator

.textbox.name
  %p Edit your list of interests:
%br
%br
%form(action="/change_description" method="POST")
  %textarea.textbox.value.fixedwith(type="text" name="description")
    -user.description.each do |line|
      :escaped
        #{line}
  %br
  %hr.separator.invisible
  %input.rightalign.square(type="submit" value="save")
%br
%hr.separator
.textbox.name
  %p Change your password
  %br
  %p Please choose a safe password; a safe password includes letters and numbers and is more than 4 digits long.
.textbox.value
  %form(action="/change_password" method="POST")
    %label Enter old password:
    %br
    %input(type="password" name="password_old" value="")
    %br
    %br
    %br
    %label Enter new password:
    %br
    %input(type="password" name="password_new" value="")
    %br
    %label Repeat new password:
    %br
    %input(type="password" name="password_check" value="")
    %br
    %br
    %input.square(type="submit" value="Change password")
%br
%hr.separator
.textbox.name
  %p Delete my Account "#{user.name}"
.textbox.value
  %form(action="/delete_link" method="GET")
    %input.square(type="submit" value="Delete account")
