%h2 My profile

.textbox.name
  %p Username:
.textbox.value
  %p 
    :escaped
      #{@session_user.name}

.textbox.name
  %p Credits:
.textbox.value
  %p #{@session_user.credits}

.textbox.name
  %p Interests:
.textbox.value
  %p
    -if !@session_user.description.empty?
      -@session_user.description.each do |line|
        :escaped
          #{line}
        %br
%br
%hr.separator

.textbox.name
  %p Edit my list of interests:
%br
%br
%form(action="/change_description" method="POST")
  %textarea.textbox.value.fixedwith(type="text" name="description")
    -if !@session_user.description.empty?
      -@session_user.description.each do |line|
        :escaped
          #{line}
  %hr.separator.invisible
  %input.rightalign.square(type="submit" value="save")
%hr.separator
.textbox.name
  %p Change my password
  %br
  %p Please choose a safe password; a safe password includes letters and numbers and is more than 4 digits long.
.textbox.value
  %form.nomargin(action="/change_password" method="POST")
    %label.leftalign.topmargin Enter old password:
    %input.rightalign(type="password" name="password_old" value="")
    %hr.separator
    %label.leftalign.topmargin Enter new password:
    %input.rightalign(type="password" name="password_new" value="")
    %hr.separator.invisible
    %label.leftalign.topmargin Repeat new password:
    %input.rightalign(type="password" name="password_check" value="")
    %hr.separator
    %input.square.rightalign(type="submit" value="Change password")
%hr.separator
.textbox.name
  %p
    :escaped
      Delete my Account "#{@session_user.name}"
.textbox.value
  %form.nomargin(action="/delete_link" method="GET")
    %input.square.rightalign(type="submit" value="Delete account")
