%h2 Manage Admins
%br
%table.usertable
  - for user in @all_users
    -unless (user.organization or user == @session_user)
      %tr
        %td
          %a(href="/user/#{user.id}/image" rel="lightbox" title="#{user.name}")
            %img(src="/user/#{user.id}/image" class = "smallpicturebox")
        %td
          %a(href="/users/#{user.id}" )
            :escaped
              #{user.name}
        %td
          %form{:action=>"/setadmin/#{@org.id}/#{user.id}",:method=>"post"}
            -if @org.admin_list.include?(user)
              %input.square.rightalign(type="submit" value="remove")
            -else
              %input.square.rightalign(type="submit" value="add")


