%br
#textbox.name
  #{user.name}'s interests:
#textbox.value
  -user.description.each do |line|
    #{line}
    %br
%br
%hr.separator

#textbox.name
  #{user.name}'s items on sale:
%br
#textbox.value
  - content_for :name do
    #{user.name}'s Active_items
  %ul
    - for item in active_items
      %li
        %em= item.name
        %em= item.price
        %em= item.description
        \:
        %a(href="/buy/#{item.id}" ) Buy this item
        -#TODO: refactor to POST!
