%script(type="text/javascript" src="/js/rating.js")
-#%h2
  :escaped
    #{@user.name}
.lineContainer
  .textbox.name
    %a(href="/user/#{@user.id}/image" rel="lightbox" title="#{@user.name}")
      %img(src="/user/#{@user.id}/image" class = "bigpicturebox")
  .ratingtable
    %p Rating by other users:
    %br
    :javascript
      var data = #{@user.ratings_json};
      $(document).ready(function (e) {
        $.plot($("#placeholder"), data, options);
      });
    %div(id="placeholder" style="width:250px; height:100px;")
%br
.lineContainer
  .textbox.name
    %p E-Mail:
  .textbox.value
    %p
      :escaped
         #{@user.e_mail}
.lineContainer
  .textbox.name
    %p
      :escaped
        #{@user.name}'s interests:
  .textbox.value
    %p
      -if !@user.description.empty?
        -@user.description.each do |line|
          :escaped
            #{line}
          %br
%br
%hr.separator

.textbox.name
  %p
    :escaped
      #{@user.name}'s items on sale:
%br
- content_for :name do
  %p
    :escaped
      #{@user.name}'s Active_items
-unless @all_items.empty?
  -stored = @all_items
  -unless page ==1
    %a(href = "/users/#{@user.id}/#{page-1}") previous
  -for i in 1..page_count
    -if page!=i
      %a(href = "/users/#{@user.id}/#{i}") #{i}
    -else
      #{i}
  -unless page == page_count
    %a(href = "/users/#{@user.id}#{page+1}") next
  %table.itemtable.right
    %thead
      %tr
        %td
          %p.table_header Name
        %td
          %p.table_header Price
        %td
          %p.table_header Qty
        -unless @user.id == session[:id]
          %td
            %p.table_header Buy
    - for item in @all_items
      %tr(title = "#{item.description}")
        %td.nopadding
          %a.wholly_clickable(href="/item/#{item.id}" )
            :escaped
              #{item.name}
        %td
          %p
          :escaped
            #{item.price}
        %td
          %p #{item.quantity}
        -unless @user.id == session[:id]
          %td.buyform
            %form.nomargin(action="/buy/#{item.id}/#{(stored.select {|tobuy| tobuy.id==item.id})[0].timestamp}" method="POST")
              %input.tiny(type = "text" name = "quantity" value = "1")
              %input.square.rightalign(type="submit" value="Buy")
-else
  .textbox.value
    %p No Items
-unless @user.name != @session_user.name
  %hr.separator.invisible
    %form.nomargin(action="/profile" method="GET")
      %input.square.rightalign(type="submit" value="Edit my profile")
