
%h2= "Users (#{params[:id]}) Active Items"
%br
- content_for :name do
  Active_items
%ul
  - for item in active_items
    %li
      %em= item.name
      %em= item.price
      \:
      %a(href="/buy/#{item.id}.#{item.name}" ) Buy this item
