%script(type="text/javascript" src="/js/rating.js")


%h2
  -if(@user.organization)
    Organization:
  -else
    Userpage:
  :escaped
    #{@user.name}
.lineContainer
  .textbox.name
    %a(href="/user/#{@user.id}/image" rel="lightbox" title="#{@user.name}")
      %img(src="/user/#{@user.id}/image" class = "bigpicturebox")
  .ratingtable
    %p Other traders' happiness with
    :escaped
      #{@user.name}:
    %br
    :javascript
      var data = #{@user.ratings_json};
      $(document).ready(function (e) {
        $.plot($("#placeholder"), data, options);
      });
    %div(id="placeholder" style="width:250px; height:100px;")
%br
%form(method="GET" action="/message/compose/#{@user.id}")
  %input.square(type="submit" value="send message")
-if(!@session_user.eql?(@user))
  -if(!@session_user.working_for.watching.include?(@user))
    %form(method="POST" action="/add_user_to_watching_list/#{@user.id}")
      %input.square(type="submit" value="watch this user")
  -else
    %form(method="POST" action="/remove_user_from_watching_list/#{@user.id}")
      %input.square(type="submit" value="remove from watching list")

.lineContainer
  .textbox.name
    %p E-Mail:
  .textbox.value
    %p
      :escaped
        #{@user.e_mail}

.lineContainer
  .textbox.name
    %p
      :escaped
        #{@user.name}'s interests:
  .textbox.value
    %p
      -if !@user.description.empty?
        -@user.description.each do |line|
          :escaped
            #{line}
          %br
.lineContainer
  .textbox.name
    %p
      Bitcoin Wallet
  .textbox.value
    -if @user.wallet.nil? or @user.wallet == ""
      %p User does not accept Bitcoins
    -else
      %p User accepts Bitcoins

-if(@user.organization)
  %hr.separator
  .textbox.name
    Members
  %table.organization-member-table.value
    - for member in @user.admin_list
      %tr
        %td
          %a(href="/user/#{member.id}/image" rel="lightbox" title="#{member.name}")
            %img(src="/user/#{member.id}/image" class = "smallpicturebox")
        %td
          %a(href="/users/#{member.id}" )
            :escaped
              #{member.name}
        %td
          has #{member.list_items.size} Items to sell
        %td
          Admin
    - for member in @user.member_list
      -unless @user.admin_list.include?(member)
        %tr
          %td
            %a(href="/user/#{member.id}/image" rel="lightbox" title="#{member.name}")
              %img(src="/user/#{member.id}/image" class = "smallpicturebox")
          %td
            %a(href="/users/#{member.id}" )
              :escaped
                #{member.name}
          %td
            has #{member.list_items.size} Items to sell
          %td
            Member
  -if(@user.admin_list.include?(User.get_user(session[:id])))
    %hr.separator
    .textbox.name
      Add users
    .textbox.value
      %form.nomargin(action="/selectusers/#{@user.id}" method="Get")
        %input.rightalign.square(type="submit" value="Select users")
      -if(@user.admin_list.include?(@session_user))
        %form.nomargin(action="/selectadmins/#{@user.id}" method="Get")
          %input.rightalign.square(type="submit" value="Select Administrators")



%br
%hr.separator
.textbox.name
  %p
    :escaped
      #{@user.name}'s items on sale:
%br
- content_for :name do
  %p
    :escaped
      #{@user.name}'s Active_items
-unless @all_items.empty?
  -stored = @all_items
  -unless page_count==1
    -unless page ==1
      %a(href = "/users/#{@user.id}/#{page-1}") previous
    -for i in 1..page_count
      -if page!=i
        %a(href = "/users/#{@user.id}/#{i}") #{i}
      -else
        #{i}
    -unless page == page_count
      %a(href = "/users/#{@user.id}#{page+1}") next
  %table.itemtable.right
    %thead
      %tr
        %td
          %p.table_header Name
        %td
          %p.table_header Price
        %td
          %p.table_header Qty
        -unless @user.id == session[:id]
          %td
            %p.table_header Buy
    - for item in @all_items
      %tr(title = "#{item.description}")
        %td.nopadding
          %a.wholly_clickable(href="/item/#{item.id}" )
            :escaped
              #{item.name}
        %td
          %p
          :escaped
            #{item.price.to_s+" "+item.currency}
        %td
          %p #{item.quantity}
        -unless @user.id == session[:id]
          %td.buyform
            %form.nomargin(action="/buy/#{item.id}/#{(stored.select {|tobuy| tobuy.id==item.id})[0].timestamp}" method="POST")
              %input.tiny(type = "text" name = "quantity" value = "1")
              %input.square.rightalign(type="submit" value="Buy")
-else
  .textbox.value
    %p No Items


%hr.separator
.textbox.name
  %p
    :escaped
      #{@user.name}'s auctions:
%br
- content_for :name do
  %p
    :escaped
      #{@user.name}'s auctions
-unless @auctions.empty?
  %table.itemtable.right
    %thead
      %tr
        %td
          %p.table_header Name
        %td
          %p.table_header Current price
    - for auction in @auctions
      %tr(title = "#{auction.description}")
        %td.nopadding
          %a.wholly_clickable(href="/auction/#{auction.item.id}" )
            :escaped
              #{auction.item.name}
        %td
          %p
          :escaped
            #{auction.current_selling_price}
-else
  .textbox.value
    %p No Auctions

-if @user.name == @session_user.name or (@user.organization and @user.admin_list.include?(@session_user))
  %hr.separator.invisible
    %form.nomargin(action="/profile/#{@user.id}" method="GET")
      %input.square.rightalign(type="submit" value="Edit my profile")
