%h2 Everything you have in Store
%a(href="/home/new") Create new Item
%h2 My Active Items
-unless @active_items.empty?
  -unless active_page_count==1
    -unless active_page ==1
      %a(href = "/home/items/#{active_page-1}/#{inactive_page}") previous
    -for i in 1..active_page_count
      -if i != active_page
        %a(href = "/home/items/#{i}/#{inactive_page}") #{i}
      -else
        #{i}
  -unless active_page == active_page_count
    %a(href = "/home/items/#{active_page+1}/#{inactive_page}") next
  %table.itemtable
    %thead
      %tr
        %td
          %p.table_header Name
        %td
          %p.table_header Picture
        %td
          %p.table_header Price
        %td
          %p.table_header Qty
        %td
          %p.table_header Deactivate
    - for item in @active_items
      %tr(title = "#{item.description}")
        %td.nopadding
          %a.wholly_clickable(href="/item/#{item.id}" )
            :escaped
              #{item.name}
        %td
          %a(href="/item/#{item.id}/image" rel="lightbox" title="#{item.name}")
            %img(src="/item/#{item.id}/image" class = "smallpicturebox")
        %td
          %p #{item.price}
        %td.restock
          -unless item.permanent
            %p #{item.quantity}
          -else
            %form.nomargin.inline(action="/restock/#{item.id}" method="POST")
              %p.inline #{item.quantity}
              %input.tiny.inline(type = "text" name = "quantity" value = "1")
              %input.square.rightalign.inline(type="submit" value="Restock")
        %td
          %form.nomargin(action="/changestate/#{item.id}/setinactive" method="POST")
            %input.square(type="submit" value="Set inactive")
-else
  %h3 No items
%h2 My Inactive Items
-unless @inactive_items.empty?
  -unless inactive_page_count==1
    -unless inactive_page ==1
      %a(href = "/home/items/#{active_page}/#{inactive_page-1}") previous
    -for i in 1..inactive_page_count
      -if i != inactive_page
        %a(href = "/home/items/#{active_page}/#{i}") #{i}
      -else
        #{i}
  -unless inactive_page == inactive_page_count
    %a(href = "/home/items/#{active_page}/#{inactive_page+1}") next
  %table.itemtable
    %thead
      %tr
        %td
          %p.table_header Name
        %td
          %p.table_header Picture
        %td
          %p.table_header Price
        %td
          %p.table_header Qty
        %td
          %p.table_header Activate
        %td
          %p.table_header Auction
        %td
          %p.table_header Edit
    - for item in @inactive_items
      %tr(title = "#{item.description}")
        %td.nopadding
          %a.wholly_clickable(href="/item/#{item.id}" )
            :escaped
              #{item.name}
        %td
          %a(href="/item/#{item.id}/image" rel="lightbox" title="#{item.name}")
            %img(src="/item/#{item.id}/image" class = "smallpicturebox")
        %td
          %p #{item.price}
        %td
          %p #{item.quantity}
        %td
          %form.nomargin(action="/changestate/#{item.id}/activation" method="GET")
            %input.square(type="submit" value="Set active")
        %td
          %form.nomargin(action="/auction/#{item.id}/create" method="GET")
            %input.square(type="submit" value="Create Auction")
        %td
          %form.nomargin(action="/home/edit_item/#{item.id}" method="GET")
            %input.square(type="submit" value="Edit")
-else
  %h3 No items
%h2 My Auctions
-unless @auctions.empty?
  %table.itemtable
    %thead
      %tr
        %td
          %p.table_header Item Name
        %td
          %p.table_header Picture
        %td
          %p.table_header Min price
        %td
          %p.table_header Increment
        %td
          %p.table_header Edit
    - for auction in @auctions
      %tr(title = "#{auction.description}")
        %td.nopadding
          %a.wholly_clickable(href="/auction/#{auction.id}" )
            :escaped
              #{auction.name}
        %td
          %a(href="/item/#{auction.id}/image" rel="lightbox" title="#{auction.name}")
            %img(src="/item/#{auction.id}/image" class = "smallpicturebox")
        %td
          %p #{auction.min_price}
        %td
          %p #{auction.increment}
        - if auction.editable?
          %td
            %form.nomargin(action="/auction/#{auction.item.id}/edit" method="GET")
              %input.square(type="submit" value="Edit")
-else
  %h3 No auctions

