%br
.textbox.name
  #{user.name}'s interests:
.textbox.value
  -user.description.each do |line|
    #{line}
    %br
%br
%hr.separator

.textbox.name
  %p #{user.name}'s items on sale:
%br
- content_for :name do
  %p #{user.name}'s Active_items
-unless active_items.empty?
  -stored = active_items
  %table.itemtable.right
    %thead
      %tr
        %td
          %p.table_header Name
        %td
          %p.table_header Price
        %td
          %p.table_header Buy
    - for item in active_items
      %tr
        %td
          %p #{item.name}
        %td
          %p #{item.price}
        %td
          %form.nomargin(action="/buy/#{item.id}/#{(stored.select {|tobuy| tobuy.id==item.id})[0].timestamp}" method="POST")
            %input.square(type="submit" value="Buy")
-else
  .textbox.value
    %p No Items