%h2 My Active Items

-unless @active_items.empty?
  -unless active_page ==1
    %a(href = "/home/items/#{active_page-1}/#{inactive_page}") previous
  -for i in 1..active_page_count
    -if i != active_page
      %a(href = "/home/items/#{i}/#{inactive_page}") #{i}
    -else
      #{i}

  -unless active_page == active_page_count
    %a(href = "/home/items/#{active_page+1}/#{inactive_page}") next
  %table.itemtable
    %thead
      %tr
        %td
          %p.table_header Name
        %td
          %p.table_header Picture
        %td
          %p.table_header Price
        %td
          %p.table_header Qty
        %td
          %p.table_header Deactivate
    - for item in @active_items
      %tr(title = "#{item.description}")
        %td.nopadding
          %a.wholly_clickable(href="/item/#{item.id}" )
            :escaped
              #{item.name}
        %td
          %a(href="/item/#{item.id}/image" rel="lightbox" title="#{item.name}")
            %img(src="/item/#{item.id}/image" class = "smallpicturebox")
        %td
          %p #{item.price}
        %td
          %p #{item.quantity}
        %td
          %form.nomargin(action="/changestate/#{item.id}/setinactive" method="POST")
            %input.square(type="submit" value="Set inactive")
-else
  %h3 No items

%h2 My Inactive Items

-unless @inactive_items.empty?
  -unless inactive_page ==1
    %a(href = "/home/items/#{active_page}/#{inactive_page-1}") previous
  -for i in 1..inactive_page_count
    -if i != inactive_page
      %a(href = "/home/items/#{active_page}/#{i}") #{i}
    -else
      #{i}
  -unless inactive_page == inactive_page_count
    %a(href = "/home/items/#{active_page}/#{inactive_page+1}") next
  %table.itemtable
    %thead
      %tr
        %td
          %p.table_header Name
        %td
          %p.table_header Picture
        %td
          %p.table_header Price
        %td
          %p.table_header Qty
        %td
          %p.table_header Activate
        %td
          %p.table_header Edit
    - for item in @inactive_items
      %tr(title = "#{item.description}")
        %td.nopadding
          %a.wholly_clickable(href="/item/#{item.id}" )
            :escaped
              #{item.name}
        %td
          %a(href="/item/#{item.id}/image" rel="lightbox" title="#{item.name}")
            %img(src="/item/#{item.id}/image" class = "smallpicturebox")
        %td
          %p #{item.price}
        %td
          %p #{item.quantity}
        %td
          %form.nomargin(action="/changestate/#{item.id}/setactive" method="POST")
            %input.square(type="submit" value="Set active")
        %td
          %form.nomargin(action="/home/edit_item/#{item.id}" method="GET")
            %input.square(type="submit" value="Edit")
-else
  %h3 No items

