%h2 All Users
%br
- content_for :name do
  All_users
%table.usertable
  - for user in @all_users
    %tr
      %td
        %a(href="/user/#{user.id}/image" rel="lightbox" title="#{user.name}")
          %img(src="/user/#{user.id}/image" class = "smallpicturebox")
      %td
        %a(href="/users/#{user.id}" )
          :escaped
            #{user.name}
      %td
        has #{user.list_items.size} Items to sell


